body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #e4dcdc;
}
header,
footer {
  background-color: #555555;
  color: white;
  padding: 10px;
  text-align: center;
}
main {
  background-color: rgb(121, 121, 121);
  padding: 20px;
  border-radius: 8px;
}

chat {
  padding: 5px;
  min-height: 150px;
  width: 400px;
  display: grid;
  margin: 25px;
}

.chat-guests {
  height: 100px;
  width: 400px;
  overflow: auto;
  background: #d1d1d1;
  resize: both;
}

.chat-form {
  display: flex;
  background-color: rgb(220, 220, 220);
  justify-content: center;
  height: 20px;
  padding: 5px;
}
